<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'review/css/index.css' %}">
    <script src="{% static 'review/js/index.js' %}"></script> 
    <script src="https://use.fontawesome.com/b466559c17.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    </head>
<body>
<div class="container">
    <div class="faqs-container">
      <h2>Movies</h2>
    </div>
    <form method='POST' action='/review/movielist/'>
      {%csrf_token%}
  <section>
      {% for movie in movies %}
      
      <input class="animate" type="radio" name="question" id="{{movie.id}}" value="{{movie.id}}">
      <label class="animate" for="{{movie.id}}">{{movie.title}}</label>
      
      <div class="response animate">
        <p class="inp">Drop a Review:&emsp;
           <input type="textarea " name='review' id='review'>
        <input class="form-group" type="submit" value="Submit Review">
      </p><p class="inp" >
          <img src='{{movie.poster.url}}' height=300px width=300px alt='poster'><br/>
        <span><i style ="font-size: 2rem;"class="bi-hand-thumbs-up like_dislike"></i>{{movie.num_positive}}</span>
        <br/>,
        <span><i style ="font-size: 2rem;"class="bi-hand-thumbs-down like_dislike"></i>{{movie.num_negative}}</span>
      </p>
    </div>
      {% endfor %}
      
  </section>
  </form>
</div>
</body>
</html>